/* Global App mixins */


@mixin reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin highlight-author($color) {
  background-color: $color;
  color: white;
  padding-left: 2px;
}

@mixin author-status {
  .moderator {
    @include highlight-author($rt-mod-green);
  }
  .admin, .special {
    @include highlight-author($rt-mod-red);
  }
  .op {
    @include highlight-author($rt-op-blue);
  }
}

@mixin at-button-link-style {
  a {
    cursor: pointer;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  button {
    cursor: pointer;
  }
}
