/* Global App variables */


/* Colors */

$yt-red: #FF0000;
$yt-light-grey: #777;
$yt-dark-grey: #606060;

$rt-mod-green: #228822;
$rt-mod-red: red;
$rt-op-blue: blue;
$rt-grey: #888;
$rt-border-color: #DDF;
$rt-visited-purple: #336699;


/* Fonts */

/* Default size is inherited from page */
$at-tiny-font: .95rem;
$at-small-font: 1.1rem;
/* default-size: 1.4rem; */
$at-large-font: 1.6rem;

$at-font-family: verdana, arial, helvetica, sans-serif;


/* Spacing */

$at-spacing: 20px;
