/* Global App variables */


/* Colors */

$yt-red: #FF0000;
$yt-light-grey: #777;
$yt-dark-grey: #606060;
$yt-endpoint-blue: var(--yt-spec-call-to-action, var(--yt-spec-text-primary));
$yt-text-primary-color: var(--yt-spec-text-primary);

$rt-mod-green: #228822;
$rt-mod-red: red;
$rt-op-blue: blue;
$rt-grey: #888;
$rt-border-color: #DDF;
$rt-light-blue: #cee3f8;

$rt-visited-purple: #336699;

$at-transparent-grey: rgba(189, 189, 189, 0.15);

/* Fonts */

$at-tiny-font: .95rem;
$at-small-font: 1.1rem;
$at-default-size: 1.4rem;
$at-large-font: 1.6rem;

$at-default-line-height: 2rem;

$at-font-family: verdana, arial, helvetica, sans-serif;

/* Spacing, Sizes */

$at-spacing: 20px;
$at-floating-btn-diameter: 50px;
$at-collapse-width: 15px;
$at-comment-spacing: 5px;


/* z-index priorities */

$at-high-z: 2;
$at-med-z: 1;
$at-low-z: 0;
